.ipynb_checkpoints/data-analysis-checkpoint.ipynb
.ipynb_checkpoints/all_tickets-checkpoint.csv
.ipynb_checkpoints/data-analysis-checkpoint.ipynb
.ipynb_checkpoints/data-analysis-checkpoint.ipynb
/.ipynb_checkpoints
/.ipynb_checkpoints
